@keyframes fadeIn {
  0% {
    bottom: -15px;
    opacity: 0;
  }

  100% {
    bottom: 0;
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    left: 70px;
    opacity: 0;
  }

  100% {
    left: 0;
    opacity: 1;
  }
}

@keyframes expand {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}
